.footer5-container{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1295px;
}
.footer-container{
    padding-left: 85px;
    display: flex;
    justify-content: space-around;
    font-family: 'Euclid';
}
.footer-cont-1, .footer-cont-2{
    color: #fff;
}
.footer-cont-1, .footer-cont-3{
    font-size: 14px;
    line-height: 20px;
}
.footer-icons{
    padding-top: 10px;
}
.footer-p9{
    font-size: larger;
}
.footer-cont-3{
    color: #7a7b88;
}
.footer-row1{
    display: flex;
    justify-content: space-around;  
    gap: 8px;   
}
.slack,.twitter, .linkedin{
    height: 30px;
    width: 30px; 
}
.ngrok-footer{
    width: 120px;
    height: 44px;
}
.copyright-footer{
    font-family: 'Euclid-Bold';
    color: #37384a;
    text-align: center;
    padding-bottom: -10px;
    font-size: 14px;
}