.hero-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1295px;
}
.text-block {
    gap: 0px;
    text-align: left;
    width: auto;
    padding-left: 75px;
}
.img-block {
    width: auto;
    padding-top: 80px;
    padding-left: 120px;
    align-items: center;
}
.img-hero1 {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.header-black {
    font-family: 'Euclid';
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
  }
  .header-purple {
    font-family: 'Euclid';
    margin-top: -50px;
    font-size: 56px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    color: #9956EB;
}
.content-p{
   font-family: 'Euclid';
   font-size: 20px;
   font-weight: 500;
   line-height: 28px;
   text-align: left;
   margin-top: -40px;
   color: #595959;
}
.button-container {
    display: flex;
    gap: 10px; 
}
.try-button{
    font-family: 'Euclid-Light';
    background: #2E54EA; 
    width: 152px;
    height: 36px;
    display: flex;
    align-items: center; 
    justify-content: center;
    color: #FFFFFF;
    gap: 8px;
    font-weight: 700;
    border-radius: 2px;
    border: 1px; 
    padding: 20px;
    cursor: pointer;
}
.touch-button{
    font-family: 'Euclid-Light';
    display: flex;
    align-items: center; 
    justify-content: center;
    background: #F0F5FF;
    font-weight: 700;
    width: 152px;
    height: 36px;
    color: #2E54EA;
    gap: 8px;
    border-radius: 2px;
    border: 1px; 
    padding: 20px;
    cursor: pointer;
}
.arrow-logo{
    width: 16px;
    height: 16px;
}

@media only screen and (max-width: 895px) {
    .text-block{
        display: block;
        padding: auto;
    }
    .img-hero1 {
      width: 420px;
      height: 390px;
    }
  }