.hero1 {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center
}
.text-block {
   width: 50%;
   display: block;
   padding-left: 50px;
}
.img-block {
    width: 50%;
    display: block;
}
.img-hero1 {
    max-width: 100%;
    width: 390px;
    height: 360px;
}
.header-black {
    font-family: 'Euclid';
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
  }
  
  .header-purple {
    font-family: 'Euclid';
    margin-top: -50px;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
    color: #9956EB;
  }