.hero-3 {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1295px;
  }  
  .content-hero3 {
    padding-left: 65px;
  }
  .heading-1 {
    font-family: 'Euclid';
    font-size: 17px;
    font-weight: 700;
    line-height: 0;
    letter-spacing: 0.1em;
    text-align: left;
    color: #2E54EA;
  }
  .heading-2 {
    font-family: 'Euclid';
    font-size: 36px;
    line-height: 35px;
    font-weight: 400;
    text-align: left;
  }
  
  .heading-3 {
    font-family: 'Euclid';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #595959;
  }
  .content-prod {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    gap: 10px;
    max-width: 1180px;
  }
  .item-background {
    z-index: 1;
    background-image: url(../assets/imgs/blank.png);
  }
  
  .item-1,
  .item-2,
  .item-3 {
    padding: 0;
    width: 340px;
    border-radius: 4px;
    background-color: #F6F7F9;
  }
  .item-content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }
  
  .p1,
  .p2,
  .p3 {
    width: 100%;
    height: 200px;
  }

  .head-1 {
    text-align: left; 
    padding: 0px 23px 0px 23px;
    font-family: 'Euclid' ;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;    
  }
  .p-1{
   font-family: 'Euclid';
   font-size: 14px;
   font-weight: 400;
   line-height: 22px;
   text-align: left;
   padding: 2px 30px 0px 23px;
  }
  .read-more{
    padding: 2px 20px 0px 23px;
    color: #2E54EA;
    font-family: 'Euclid-Bold';
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    cursor: pointer;
    margin-right: -10px;
  }
  .read-more-container {
    display: flex;
    align-items: center; 
  }
  .arrow{
    width: 24px;
    height: 24px;
  } 