.logo-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1295px;
}
.Twilio, .SendGrid, .GitHub, .Slack, 
.Okta, .MS, .Zoom{
    width: 133px;
    height: 36px;
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1000px, 0, 0);
    }
  }
  