@font-face {
  font-family: Euclid;
  src: url(./assets/fonts/EuclidSquare-Regular.ttf);
}
@font-face {
  font-family: Euclid-Bold;
  src: url(./assets/fonts/EuclidSquare-Bold.ttf);
}
.header-section{
  background-color: #10239E;
}