@font-face {
  font-family: Euclid;
  src: url(./assets/fonts/EuclidSquare-Regular.ttf);
}
@font-face {
  font-family: Euclid-Bold;
  src: url(./assets/fonts/EuclidSquare-Bold.ttf);
}
@font-face {
  font-family: Euclid-Light;
  src: url(./assets/fonts/EuclidSquare-Light.ttf);
}
.footer-section{
  background-color: #1e1e36;
}
.header-section{
  background-color: #10239E;
}
.menu{
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}
.menu span{
  height: 0.4rem;
  width: 100%;
  background-color: #ffff;
  border-radius: 0.2rem;
}

@media only screen and (max-width: 950px){
  .menu {
      display: flex;
      align-items: center;
      margin-top: 10px;
  }
  .login, .signup{
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .img-block{
    width: 100%; 
  align-items: center; 
  }
}